.text-container
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 531px;
    height: 300px;
    background: rgba(255, 255, 255, 1);
    border-radius: 14.2005px; 
}

.txt_1{
margin-left: 38px;
margin-top: 10px;
color: #111;
font-size: 29px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
line-height: normal;
letter-spacing: 0.568px;
}
.txt_2{
margin-left: 38px;
margin-top: 10px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 28.4011px;
line-height: 34px;
color: #696969;
mix-blend-mode: normal;
}
.price{
position: absolute;
left: 392px;
color: #111;
font-size: 45px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
line-height: normal;
}

.calif-container
{
display: flex;

width: 500px;
height: 44.97px;
margin-top: 28px;
margin-left: 38px;
align-items: center
}
.txt_3{
color: #696969;
margin-left: 10px;
font-size: 18.934px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
line-height: normal;
}