.icon-head{
    position: absolute;
    top: 39px;
    left: 430px;
    width: 61.54px;
    height: 61.54px;
    left: 430.75px;
    top: 39.05px;
    border-radius: 100px;
    background: #ECBAC4;

}

